@import '_variable';

.card-courses-item {
    margin-top: 16px;
}

p {
    font-size : 16px;
    font-weight: bold;
}

.user-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
}

.my-course-table {
    margin-top: 16px;
}